// https://quarto.org/docs/output-formats/html-themes.html#theme-options
// https://github.com/quarto-dev/quarto-cli/blob/main/src/resources/formats/html/bootstrap/themes/pulse.scss
// https://quarto.org/docs/output-formats/html-themes.html#theme-options
// https://coolors.co/palette/606c38-283618-fefae0-dda15e-bc6c25

/*-- scss:defaults --*/

// VARIABLES

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,1000;1,1000&display=swap');
$sans-serif-heading: 'Nunito', sans-serif;

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,400;0,6..12,600;1,6..12,400;1,6..12,600&family=Nunito:ital,wght@0,1000;1,1000&display=swap');
$san-serif-body: 'Nunito Sans', sans-serif;

$primary: #283618;
$secondary: #606c38;
$gray: #f0f0f0;
$white: #ffffff;

// COLORS
$body-color: #000000;
$link-color: $secondary;


// FONTS
$font-family-sans-serif: $san-serif-body;


// CODE BLOCKS
$code-block-bg: $gray;
$code-block-color: #000000;


//  INLINE CODE
$code-bg: $gray;
$code-color : #bc6c25;


// NAVIGATION BAR

$navbar-bg: $primary;


// CALLOUTS
// https://coolors.co/palette/264653-2a9d8f-e9c46a-f4a261-e76f51
$callout-color-note: $primary; 
$callout-color-tip: $secondary; 
$callout-color-important: #fcbf49; // yellow
$callout-color-caution: #f77f00;  // red
$callout-color-warning: #d62828;  // orange




/*-- scss:rules --*/

h1, h2, h3, h4, h5, h6 {
    font-family: $sans-serif-heading;
    color: $primary;
    // text-shadow: -1px -1px 0 rgba(0, 0, 0, .3);
  }
