/*-- scss:defaults --*/

$primary:       #001219 !default;
$secondary:     #005F73 !default;
$success:       #81b29a !default;
$info:          #94D2BD !default;
$warning:       #EE9B00 !default;
$danger:        #AE2012 !default;
$light:         #fff8e5 !default;
$dark:          #4b473a !default;


// Body
$body-bg: $primary;
$body-color: $light;
$link-color: $success;
//$input-bg: $primary;

// Typography



// CODE BLOCKS
$code-block-bg: #000000;
$code-block-color: #dadada;